<div>
    <h5 class="text-center">Created by: {{this.author}}</h5>

    <div class="col-xs-6">
        <h6>
        {{{rating this.stars 'glyphicon glyphicon-star' }}}
        </h6>
        <h6>
        {{{rating this.hearts 'glyphicon glyphicon-heart' }}}
        </h6>
    </div>
    <div class="col-xs-6 right">
        <h6>
        {{{rating this.icon1 'glyphicon glyphicon-question-sign'}}}
        </h6>
        <h6>
        {{{rating this.icon2 'glyphicon glyphicon-info-sign'}}}
        </h6>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <!--wrapper for slides-->
                <div class="carousel-inner">
                    {{{images this.pictures}}}
                </div><!--end of carousel-inner-->

                <!--Controls-->
                <a class="left carousel-control" data-slide="prev" href="#myCarousel2"><span class="icon-prev"></span></a>
                <a class="right carousel-control" data-slide="next" href="#myCarousel2"><span class="icon-next"></span></a>

            </div> <!--end of myCarousel-->
        </div>
    </div>
    <hr>
</div>
