<footer class="footer">
    <div class="row navbar-icons">
        <div class="col-xs-4">
            <a data-toggle="tooltip" data-placement="top" title="My reviews" href="/myReviews" class="btn btn-default pull-left" role="button"><span class="glyphicon glyphicon-th-list"></span></a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="/review" class="btn btn-default create" role="button">CREATE</a>
        </div>
        <div class="col-xs-4">
            <a href="/map" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-map-marker"></span></a>
        </div>
    </div>
</footer>
