<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row navbar-icons">
        <div class="col-xs-4">
            <a href="top10.html" class="btn btn-default pull-left" role="button">My fav</a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="#" class="btn btn-default" role="button">Top10</a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-map-marker"></span></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="input-group">
            <input type="text" class="form-control search-form" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
</nav>