<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row navbar-icons">
        <div class="col-xs-4">
            <a data-toggle="tooltip" data-placement="bottom" title="MY FAVOURITES" href="/myFavourite" class="btn btn-default pull-left" role="button"><span class="glyphicon glyphicon-heart"></span></a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="/worldTen" class="btn btn-default" role="button">TRENDING</a>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-default pull-right" data-toggle="collapse" data-target="#filter-panel">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div id="filter-panel" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form" action='/search' method='post'>
                            <div class="form-group">
                                <label class="filter-col" for="pref-perpage">Filter by:</label>
                                <select id="pref-perpage" class="form-control selectpicker" name='filterStar'>
                                    <option selected value="0">No filter</option>
                                    <option value="1" data-content="{{rating 1 'glyphicon glyphicon-star'}}"></option>
                                    <option value="2" data-content="{{rating 2 'glyphicon glyphicon-star'}}"></option>
                                    <option value="3" data-content="{{rating 3 'glyphicon glyphicon-star'}}"></option>
                                    <option value="4" data-content="{{rating 4 'glyphicon glyphicon-star'}}"></option>
                                    <option value="5" data-content="{{rating 5 'glyphicon glyphicon-star'}}"></option>
                                </select>
                            </div> <!-- form group [rows] -->

                            <div class="form-group">
                                <label class="filter-col" for="pref-search">Search:</label>
                                <input type="text" class="form-control input-sm" id="pref-search" name='txtSearched'>
                            </div><!-- form group [search] -->

                            <div class="form-group">

                                <button type="submit" class="btn btn-default btn-block">Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
