 <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
        <a href="/review/{{this.id}}">
            <h3 class="text-center">{{this.galleryName}}</h3>
        </a>
        <h4 class="text-center">{{this.locationTxt}}</h4>
        <h4 class="text-center">{{this.artistName}}</h4>
        <h5 class="text-center tags">{{{tagsHelper this.tags}}}</h5>
        <img src="{{this.frontImage}}" alt="{{this.galleryName}}">
        <div class="caption">
            <div class="row">
                <div class="col-xs-6">
                    <h5>
                        {{{rating this.stars 'glyphicon glyphicon-star' }}}
                    </h5>
                    <!--<h5>
                       {{{rating this.hearts 'glyphicon glyphicon-heart' }}}
                    </h5>-->
                </div>
                <!--<div class="col-xs-6 right">
                    <h5>
                        {{{rating this.icon1 'glyphicon glyphicon-question-sign'}}}
                    </h5>
                    <h5>
                        {{{rating this.icon2 'glyphicon glyphicon-info-sign'}}}
                    </h5>
                </div>-->
            </div>

            <a href="/extrareview/{{this.id}}" class="btn btn-info text-center col-xs-12" role="button">Add review <span class="badge">{{this.extraReviews.length}}</span></a>
            <br/><br><br/>
            <p class="text-center">Created by {{this.author}} on {{this.date}} </p>

           <!--  <p><a href="#" class="btn btn-default" role="button">Share</a></p -->
        </div>
    </div>
</div>
