 <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
        <h3>{{this.galleryName}}</h3>
        <img src="{{this.frontImage}}" alt="{{this.galleryName}}">
        <div class="caption">
            <div class="row">
                <div class="col-xs-6">
                    <h6>
                        {{{rating this.stars 'stars' }}}
                    </h6>
                    <h6>
                       
                    </h6>
                </div>
                <div class="col-xs-6 right">
                    <h6>
                        
                    </h6>
                    <h6>
                        
                    </h6>
                </div>
            </div>
            <p>Date: 21 Sep 2015 <a href="#" class="btn btn-info pull-right" role="button">Add review</a></p>
            <p><a href="#" class="btn btn-default" role="button">Share</a></p>
        </div>
    </div>
</div>