{{>navigation}}
<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <h3>Gallery name</h3>
                <img src="http://placehold.it/350x250" alt="...">
                <div class="caption">
                    <div class="row">
                        <div class="col-xs-6">
                            <h6><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></h6>
                            <h6><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h6>
                        </div>
                        <div class="col-xs-6 right">
                            <h6><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></h6>
                            <h6><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><span class="glyphicon glyphicon-euro" aria-hidden="true"></span></h6>
                        </div>
                    </div>
                    <p>Date: 21 Sep 2015 <a href="#" class="btn btn-info pull-right" role="button">Add review</a></p>
                    <p><a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <h3>Gallery name</h3>
                <img src="http://placehold.it/350x250" alt="...">
                <div class="caption">
                    <div class="row">
                        <div class="col-xs-6">
                            <h6>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </h6>
                            <h6>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </h6>
                        </div>
                        <div class="col-xs-6 right">
                            <h6>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </h6>
                            <h6>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                            </h6>
                        </div>
                    </div>
                    <p>Date: 21 Sep 2015 <a href="#" class="btn btn-info pull-right" role="button">Add review</a></p>
                    <p><a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
                <h3>Gallery name</h3>
                <img src="http://placehold.it/350x250" alt="...">
                <div class="caption">
                    <div class="row">
                        <div class="col-xs-6">
                            <h6>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </h6>
                            <h6>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            </h6>
                        </div>
                        <div class="col-xs-6 right">
                            <h6>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </h6>
                            <h6>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                            </h6>
                        </div>
                    </div>
                    <p>Date: 21 Sep 2015 <a href="#" class="btn btn-info pull-right" role="button">Add review</a></p>
                    <p><a href="#" class="btn btn-default" role="button">Share</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

{{>footer}}