{{>navigation}}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="thumbnail">
                <div id="map"></div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4>Nearest attractions</h4>
            <address>
                <strong>King's Place Bar</strong><br>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><br>
                79 High Street<br>
                London, EC1A 4QP<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <br>
            <address>
                <strong>Sushi Bar</strong><br>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br>
                79 High Street<br>
                London, EC1A 4QP<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </div>

    </div>
</div>

{{>footer}}