<body class="create">




<!-- Begin page content -->
<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <form id="" action="" method="" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="email" class="form-control" id="artistName" name="artistName" placeholder="Enter Artist Name" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 ">
                    <input type="text" class="form-control" id="artName" name="artName" placeholder="Enter Art Name" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 ">
                    <select name="descriptiveTag" class="form-control dropdown">
                        <option disabled selected value="">Pick descriptive tag</option>
                        <option value="option1">Retirement</option>
                        <option value="option2">Going to another job</option>
                        <option value="option3">Going travelling</option>
                        <option value="option4">Taking a sabbatical</option>
                        <option value="option5">Having a baby</option>
                        <option value="option6">Getting married</option>
                        <option value="option7">Other</optiin>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 ">
                    <input type="text" class="form-control" id="galleryName" name="galleryName" placeholder="Enter Gallery name" value="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 ">
                    <input type="text" class="form-control" id="galleryName" name="galleryName" placeholder="Free or Pay" value="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 ">
                    <input type="text" class="form-control" id="galleryName" name="galleryName" placeholder="End date" value="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 ">
                    <input id="input-2b" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs"
                           data-symbol="&#xe005;" data-default-caption="{rating} hearts" data-star-captions="{}">
                    <hr>

                    <input id="input-2c" class="rating" min="0" max="5" step="0.5" data-size="sm"
                           data-symbol="&#xf005;" data-glyphicon="false" data-rating-class="rating-fa">

                    <input id="input-2d" class="rating" min="0" max="5" step="0.5" data-size="sm"
                           data-symbol="&#xf0fc;" data-glyphicon="false" data-rating-class="rating-fa" data-default-caption="{rating} drinks" data-star-captions="{}">
                    <hr>
                    <input id="input-21a" value="0" type="number" class="rating" data-symbol="*" min=0 max=5 step=0.5 data-size="xs" >
                    <hr>
                    <input id="input-21b" value="4" type="number" class="rating" min=0 max=5 step=0.2 data-size="xs">
                    <hr>
                    <!--<input id="input-21c" value="0" type="number" class="rating" min=0 max=8 step=0.5 data-size="xs" data-stars="8">-->
                    <!--<hr>-->
                    <!--<input id="input-21d" value="2" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs">-->
                    <!--<hr>-->

                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input id="file-0a" class="file" type="file" multiple data-min-file-count="1">
                    <br>
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <!--<button type="reset" class="btn btn-default">Reset</button>-->

                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">

                    <button class="btn btn-default btn-lg btn-block start_campaign" role="submit" type="submit">Submit</button>
                </div>
            </div>




        </form>

    </div>
</div>



</div>

<script>
    jQuery(document).ready(function () {
        $("#input-21f").rating({
            starCaptions: function(val) {
                if (val < 3) {
                    return val;
                } else {
                    return 'high';
                }
            },
            starCaptionClasses: function(val) {
                if (val < 3) {
                    return 'label label-danger';
                } else {
                    return 'label label-success';
                }
            },
            hoverOnClear: false
        });
        $('#rating-input').rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'xs',
            showClear: false
        });
        $('.rb-rating').rating({'showCaption':true, 'stars':'3', 'min':'0', 'max':'3', 'step':'1', 'size':'xs', 'starCaptions': {0:'status:nix', 1:'status:wackelt', 2:'status:geht', 3:'status:laeuft'}});
//
//            $("#file-0a").fileinput({
//                previewFileType: "image",
//                browseClass: "btn btn-success",
//                browseLabel: "Pick Image",
//                browseIcon: "<i class='glyphicon glyphicon-picture'></i> ",
//                removeClass: "btn btn-danger",
//                removeLabel: "Delete",
//                removeIcon: "<i class='glyphicon glyphicon-trash'></i> ",
//                uploadClass: "btn btn-info",
//                uploadLabel: "Upload",
//                uploadIcon: "<i class='glyphicon glyphicon-upload'></i> "
//            });
    });
    </script>
{{>footer}}
