html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    background-color: #F2F2F2;
    margin-bottom: 50px;
    color: #424A5D;
}
a {
    color: #424A5D;
}
body > .container {
    padding: 90px 15px 0;
}
.create > .container {
    padding-top: 10px;
}

/*colors:*/

/*yellow: #FDDE59*/
/*pastel-beige: #F6DCC5*/
/*violet: #B48EBF*/
/*green #B48EBF*/
/*orange: #F6DCC5*/
/*blue:#62A6C6*/


/*beige :#FCEBB6*/
/*green:#78C0A8*/
/*orange dark : #F07818*/
/*orange light: #F0A830*/
/*brown: #5E412F*/
/***********Navbar Home View*********/
.navbar-default {
    background-color: #424A5D;
}
.btn-default {
    background-color: #FFD777;
    border:  none;
    color: #424A5D;
    border-radius: 0;
}
.btn-default:hover {
    background-color: #51B090;
    color: #F6DCC5;
}
.navbar-icons {
    padding:10px;
}
.navbar {
    border: none;
}

.right {
    text-align: right;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
    margin-right:0;
}
.panel-body {
    padding: 10px 15px 5px 15px;
}
/***********End Navbar View*********/

/***********Footer View*********/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #424A5D;
}
/***********End Footer View*********/


/***********Home View*********/
.thumbnail {
    border: 1px solid rgba(66, 74, 93, 0.36);
}
.btn-info {
    background-color: #FFD777;
    border: none;
    border-radius: 0;
    color: #424A5D;
}
.btn-info:hover {
    background-color: #FFD777;
}